html,body{
	height: 100%;
}
html,body,h1,h2,h3,h4,h5,h6,p,a,ul,li,input,button,table,tr,th,td,dl,dt,dd,img{
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
.sidebar::-webkit-scrollbar{
	width: 8px;
}
.sidebar::-webkit-scrollbar-button {
	height: 50px;
} 
.sidebar::-webkit-scrollbar-track {
	background-color: #fff;
} 
.sidebar::-webkit-scrollbar-thumb {
	background-color: #E0E0E0; 
	border-radius: 4px;
}
.rootContainer::-webkit-scrollbar{
	width: 8px;
}
.rootContainer::-webkit-scrollbar-button {
	height: 50px;
} 
.rootContainer::-webkit-scrollbar-track {
	background-color: #fff;
} 
.rootContainer::-webkit-scrollbar-thumb {
	background-color: #E0E0E0; 
	border-radius: 4px;
}

a {
	text-decoration: none;
}
ul,ol,li{
	list-style:none	
}
input,button{
	outline:none;
}
table{
	border: none;
	border-collapse:collapse;
}

#container{
	height: 100%;	
}
$themeColorRed:#c10d0c;
$themeColorGray:#E8E8E9;

.rootContainer{
	width: 100%;
	height: 100%;
	padding: 50px 0 50px 200px;
	box-sizing:border-box;
	overflow-y: auto;
	position: relative;
}
/*设置滚动条*/
.rootContainer::-webkit-scrollbar{
	width: 8px;
}
.rootContainer::-webkit-scrollbar-button {
	height: 50px;
}
.rootContainer::-webkit-scrollbar-track {
	background-color: #fff;
}
.rootContainer::-webkit-scrollbar-thumb {
	background-color: #E0E0E0;
	border-radius: 4px;
}


.react-main{
	height: 100%;
	.header{
		z-index: 999;
		position: fixed;
		left: 0;
		top: 0;
		color: #fff;
		width: 100%;
		height: 50px;
		line-height: 50px;
		background: $themeColorRed;
		text-align: center;
		.logo{
			float: left;
			width: 20%;
			font-size: 24px;
		}
		.searchArea{
			position: relative;
			float: left;
			width: 20%;
			margin: 13px 0;
			input{
				font-size: 12px;
				color: #7D7D7D;
				border-radius: 5px;
				padding: 1px 5px ;
				display: block;
				width: 100%;
				height: 22px;
				line-height: 22px;
				border: none;
				background: #ffffff;
			}
			.searchBtn{
				width: 22px;
				height: 22px;
				display: inline-block;
				top: 1px;
				right: -40px;
				position: absolute;
				cursor: pointer;
				background: url("../img/searchbtn.png") no-repeat center center;
			}
		}
	}

	.sidebar{
		position: absolute;
		width: 200px;
		height: 100%;
		padding: 50px 0 110px;
		border-right: 1px solid #ccc;
		overflow-y: auto;
		box-sizing: border-box;
		z-index: 990;
		dt{
			margin-top: 20px;
			padding-left: 10px;
			font-size: 20px;
		}
		dd{
			font-size: 16px;
			padding-left: 20px;
			height: 25px;
			line-height: 25px;
			color: #333333;
			a{
				color: #333333;
			}
		}
	}
	.player-panel{
		position: fixed;
		width: 100%;
		height: 50px;
		line-height: 50px;
		bottom: 0;
		left: 0;
		background: #ffffff;
		z-index: 9999;
		border-top: 1px solid #cccccc;
		.music-info{
			position: absolute;
			top: -60px;
			left: 0;
			width: 200px;
			height: 60px;
			border-top: 1px solid #cccccc;
			.music-img{
				width: 60px;
				height: 58px;
				background: url("../img/default_album.jpg") no-repeat center center;
				background-size: 100%;
				float: left;
			}
			.music-baseInfo{
				float: right;
				width: 140px;
				height: 60px;
				h6{
					font-weight: normal;
					height: 30px;
					line-height: 30px;
					font-size: 14px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					padding-left: 10px;
					padding-top: 5px;
					box-sizing: border-box;
				}
				p{
					font-size: 12px;
					height: 30px;
					line-height: 30px;
					padding-left: 10px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}
		.music-box{
			height: 36px;
			padding: 7px 17px;
			vertical-align: middle;
			.m-icon{
				cursor: pointer;
			}
			.music-control{
				float: left;
				height: 36px;
				top: -5px;
				position: relative;
				.m-icon{
					background: #fff;
					color: $themeColorRed;
					text-align: center;
					padding-top: -20px;
				}
				.music-play{
					display: inline-block;
					width  : 32px;
					height : 32px;
					font-size: 16px;
					line-height: 32px;
					border-radius: 50%;
					margin: 0 12px;
				}
				.music-prev,.music-next{
					display: inline-block;
					width  : 32px;
					height : 32px;
					font-size: 16px;
					line-height: 32px;
					border-radius: 50%;
					margin: -15px 12px;
				}
			}
			.music-curTime,.music-totalTime{
				height: 36px;
				font-size: 12px;
				line-height: 36px;
				padding: 0 13px;
			}
			.music-totalTime{
				margin-right:266px ;
			}
			.music-curTime{
				float: left;
				margin-left: 7px;
				transition:all 1s;
			}
			.music-totalTime,.music-volume,.music-playMode{
				float: right;
			}
			.music-timeline{
				width: 100%;
				height: 28px;
				padding: 10px 319px 0 233px;
				box-sizing: border-box;
				.music-lineContainer{
					width: 100%;
					height: 4px;
					background: $themeColorGray;
					border-radius: 2px;
					margin: 6px 0;
					box-sizing: border-box;
					.music-playhead{
						height: 4px;
						background: $themeColorRed;
						border-radius: 2px;
					}
				}
			}
			.music-volume{
				position: absolute;
				top: 18px;
				right: 153px;
				width: 121px;
				height: 12px;
				.icon-volume{
					float: left;
					width: 16px;
					height: 12px;
					background: url("../img/volume.png") no-repeat center left;
					cursor: pointer;
				}
				.music-volumeBar{
					margin: 4px 0 0 21px;
					width: 100px;
					height: 4px;
					border-radius: 2px;
					background: $themeColorGray;

					.music-curVolume{
						height: 4px;
						border-radius: 2px;
						background: $themeColorRed;
					}
				}
			}
			.music-playMode{
				position: absolute;
				right: 113px;
				top: 0px;
				height: 36px;
				color: #666666;
			}
			.music-listicon{
				position: absolute;
				top: 16px;
				right: 33px;
				height: 17px;
				background: url("../img/list.png") no-repeat center left;
				cursor: pointer;
				.music-listcnt{
					height: 16px;
					line-height: 16px;
					font-size: 12px;
					font-family: 'Arial';
					background: #E1E1E2;
					padding: 0 12px 0 6px;
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					margin-left: 19px;
				}
			}

		}

	}
}

